<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<span style="font-family:Consolas; ">
<head>
    <title>Vic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Uspješno dodan vic</h1>
<!--/*@thymesVar id="content" type="com.example.form.JokeForm"*/-->
<p th:text="'Vic: ' + ${jokeForm.content}"></p>
<p th:text="'Kategorija: ' + ${jokeForm.category.name}"></p>

<form action="/new">
    <input type="submit" value="Unesi još jedan vic"/>
</form>
<form action="/">
    <input type="submit" value="Popis svih viceva"/>
</form>

</body>
    </span>
</html>