<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<span style="font-family:Consolas; ">

<table border="2" style="width:50%" xmlns:th="http://www.w3.org/1999/xhtml">
    <thead>
    <h1>--Popis Viceva--</h1>
    </thead>
    <tbody>
    <tr th:if="${jokes.empty}">
        <td colspan="2"> Trenutno nema viceva</td>
    </tr>
    <tr>
        <th>#</th>
        <th>Kategorija</th>
        <th>Vic</th>
        <th>Likes</th>
        <th>Dislikes</th>
        <th>Razlika</th>

    </tr>
    <tr th:each="joke,iterator : ${jokePage}">
        <td style="text-align:center"><span
                th:text="${iterator.index + 1}">  </span></td>
        <td><span th:text="${joke.category.name}"> Joke </span></td>
        <td><span th:text="${joke.content}"> Joke </span></td>
        <td bgcolor="#9acd32" style="text-align:center"><span th:text="${joke.likes}"> Joke </span></td>
        <td bgcolor="#ff6347" style="text-align:center"><span th:text="${joke.dislikes}"> Joke </span></td>
        <td style="text-align:center"><span th:text="${joke.likes-joke.dislikes}"> Joke </span></td>
        <td>
            <form method="POST" th:action="@{/upvote(jokeId=${joke.id})}">
                <button type="submit" name="like" value="value">Like</button>
            </form>
            <form method="POST" th:action="@{/downvote(jokeId=${joke.id})}">
                <button type="submit" name="like" value="value" class="link-button">Dislike</button>
            </form>
        </td>


    </tr>
    </tbody>
</table>
<div th:if="${jokePage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">

<a th:href="@{/(page=${pageNumber})}"
   th:text=${pageNumber}
   th:class="${pageNumber==jokePage.number + 1} ? active"></a>
</div>

    <form action="/new">
        <input type="submit" value="Unesi vic"/>
    </form>
</span>
</html>