<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
><span style="font-family:Consolas; ">
<head>
    <title>Login page </title>
</head>
<body>
<div th:if="${param.error}">
    Neispravno korisničko ime i lozinka.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> Korisničko ime: <input type="text" name="username"/> </label></div>
    <div><label> Lozinka: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</span>
</html>