<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unos vica</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Add a new Joke</h1>

<!--/*@thymesVar id="jokeForm" type="com.example.form.JokeForm"*/-->
<form action="#" th:action="@{/new}" th:object="${jokeForm}" method="post">
    <!--<p>Message: <input type="text" th:field="*{content}"/></p>-->
    <p>Joke text</p>
    <p><textarea id="txtArea" rows="3" cols="40" th:field="*{content}"></textarea></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

    <p>
    <table><tr>
    <td>Select Category</td>
    <td>
       <select th:field="*{category}">
            <option value=""> -- </option>
            <option th:value="${categoryItem.id}"
                    th:each="categoryItem : ${categories}"
                    th:utext="${categoryItem.name}"></option>
        </select></td>
</tr>
    </table>
    </p>

</form>


</body>
</html>